//$main-theme-color-dark: rgb(54,82,41);
$main-theme-color-dark: #12312b;
$main-theme-color-1: rgb(114,213,74);
$main-theme-color-2: rgb(179,156,150);
$main-theme-color-3: rgb(242,156,151);
$main-theme-color-4: rgb(74,49,61);
$main-theme-color-5: rgb(247,50,63);
$main-theme-color-6: rgb(102,58,42);
$color-dark-green: #3a482e;
$color-dark-black: #211614;

// Menu bar background color

h1,h2,h3,h4,h5,p,a,span,li,td,div{
  font-family: Avenir,Helvetica,Arial,sans-serif;
}

.custom-bg-1{
  background-color: $main-theme-color-1;
}
.custom-bg-2{
  background-color: $main-theme-color-2;
}
.custom-bg-3{
  background-color: $main-theme-color-3;
}
.custom-bg-4{
  background-color: $main-theme-color-4;
}
.custom-bg-5{
  background-color: $main-theme-color-5;
}
.custom-bg-6{
  background-color: $main-theme-color-6;
}
// mobile Header
.bg-dark-gradient{
  background: $main-theme-color-dark !important;
}

// Top bar
.top-bar{
  background-color: $color-dark-green;
  padding: 0.3em;
  .slogan-text{
    color: white;
    font-size: 14px;
    font-style: normal;
    .phone-number{
      float: right;
    }
  }
}
.logo-head-text{
  &:hover{
    background-color: white !important;
  }
}

.nav-search-form {
   margin-right: unset;
   margin-top: unset;
   width: unset;
  input{
    background-color: transparent;
  }
}

.navbar{
  background-color:transparent;
}
.navbar-item img{
  max-height: 100px;
}
// 深色背景的导航菜单栏
.dark-theme-nav{
  background-color:transparent;
  .navbar-start{
    margin:0 2em;
    .navbar-item{
      color: $color-dark-black;
      font-size: 0.9em;
      font-weight: normal;
      text-transform: uppercase;
      display: flex;
      &:hover{
        color: $color-dark-green;
        background-color: white;
      }
    }
    .product-category-root{
      min-height: 54px;
    }
  }
}
#category-view-manager{
  .category-products-page-wrap{
    .category-product-wrap{
      .box{
        position: relative;
        // 产品目录页的产品的 Brand 的 Logo
        .cp-brand-wrap{
          position: absolute;
          z-index: 100;
          top: 9px;
          left: 9px;
          .cp-brand{
            max-height: 50px;
            max-width: 100px;
          }
        }
        // 产品目录页的产品的图片
        .p-img{
          .image{
            max-height: 150px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.content h2{
  font-weight:500;

}

.category-block-at-home{
  a{
    font-weight:500;
    p{
      color: #adadad;
      &:hover{
        color: $color-dark-black;
      }
    }
    h3{
      color: $color-dark-black;
      font-family: Arapey,Helvetica,Arial,sans-serif;
      font-weight: 500;
      font-style: italic;
    }
    img{
      &:hover{
        opacity: 0.7;
      }
    }
  }
  h3{
    font-family: Arapey,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-style: italic;
  }
}

.nav-ctn{
  background-color: #ffffffe3;
  box-shadow: 1px 1px 6px 0px #bfbfbf;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top:0;
}

#custom-nav{
  display: flex;
  justify-content: flex-end;
}

.top-icon{
  margin-right: 1.5em;
  a{
    color:#000;
    &:hover{
      color:$main-theme-color-4;
    }
  }
  i{
    color:#000;
  }
}
.show-mask-on-hover .mask{
  height:unset;

}
.show-mask-on-hover .mask a p.price{
  font-size:15px;
  font-weight:500;
}
.show-mask-on-hover .mask a p.name{
  margin-top:20px;
  font-size:14px;
  font-weight:500;
}
.footer{
  padding: 3rem 1.5rem 2rem;
  p{
    margin-bottom: 18px;
    font-size: .9375rem;
    letter-spacing: .5px;
    a{
    color:#000;
    }
  }

  .footer-logo{
    a{
      color:#000;
    }
    i{
      color:#000;
    }
  }
}