//$main-theme-color-dark: rgb(54,82,41);
$main-theme-color-dark: #12312b;
$main-theme-color-1: rgb(114,213,74);
$main-theme-color-2: rgb(179,156,150);
$main-theme-color-3: rgb(242,156,151);
$main-theme-color-4: rgb(74,49,61);
$main-theme-color-5: rgb(247,50,63);
$main-theme-color-6: rgb(102,58,42);
$color-dark-green: #3a482e;
$color-dark-black: #211614;

// Menu bar background color

.custom-bg-1{
  background-color: $main-theme-color-1;
}
.custom-bg-2{
  background-color: $main-theme-color-2;
}
.custom-bg-3{
  background-color: $main-theme-color-3;
}
.custom-bg-4{
  background-color: $main-theme-color-4;
}
.custom-bg-5{
  background-color: $main-theme-color-5;
}
.custom-bg-6{
  background-color: $main-theme-color-6;
}
// mobile Header
.bg-dark-gradient{
  background: $main-theme-color-dark !important;
}

// Top bar
.top-bar{
  background-color: $color-dark-green;
  padding: 15px;
  .slogan-text{
    color: white;
    font-size: 24px;
    line-height: 32px;
    .phone-number{
      float: right;
    }
  }
}
.logo-head-text{
  &:hover{
    background-color: white !important;
  }
}
// 深色背景的导航菜单栏
.dark-theme-nav{
  background-color: white;
  .navbar-start{
    .navbar-item{
      color: $color-dark-black;
      font-size: 21px;
      font-weight: bold;
      display: block;
      line-height: 34px;
      &:hover{
        color: $color-dark-green;
        background-color: white;
      }
    }
    .product-category-root{
      min-height: 54px;
    }
  }
}
#category-view-manager{
  .category-products-page-wrap{
    .category-product-wrap{
      .box{
        position: relative;
        // 产品目录页的产品的 Brand 的 Logo
        .cp-brand-wrap{
          position: absolute;
          z-index: 100;
          top: 9px;
          left: 9px;
          .cp-brand{
            max-height: 50px;
            max-width: 100px;
          }
        }
        // 产品目录页的产品的图片
        .p-img{
          .image{
            max-height: 150px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.category-block-at-home{
  a{
    font-weight: bold;
    p{
      color: #adadad;
      &:hover{
        color: $color-dark-black;
      }
    }
    h3{
      color: $color-dark-black;
    }
    img{
      &:hover{
        opacity: 0.7;
      }
    }
  }
}